
<mat-dialog-actions class="dialog-top">
  <h1 style="flex-grow: 1;">{{ data.title }}</h1>
  <button class="btn-top" mat-button mat-dialog-close > <img style="display: flex" src="assets/images/close.svg"  alt="asd"/> </button>
</mat-dialog-actions>

<mat-dialog-content style="padding: 0.1em">
  <div class="dialog-content">
    <app-carousel [images]=data.images style="
  width: 100%;
  block-size: auto;
  margin:1em;
"></app-carousel>
    <div class="project-desc">
    <p>{{ data.descriptionL }}</p>
    </div>
  </div>
</mat-dialog-content>
