.mat-toolbar {
  background-color: #8e1414;
  color: #ffffff;
}

.mat-button {
  color: #320202;
}


.spacer {
  flex: 1 auto auto;
}


.rainbow-toolbar .mat-toolbar-row {
  justify-content: center;
}

@keyframes rainbow-animation {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.rainbow-toolbar {
  background: linear-gradient(90deg,
  #ff0000,
  #ffa500,
  #ffff00,
  #008000,
  #0000ff,
  #4b0082);
  background-size: 600% 600%;
  animation: rainbow-animation 10s ease infinite;
  color: white;
}

.rainbow-toolbar .mat-toolbar-row {
  justify-content: center;
}
