.full-screen-container {
  display: flex;
  flex-direction: column;
}
.card{
  max-width: 38%;
  background-color: #1e2323;
}
.middle-third {
  margin-top: 2%  ;
  display: flex;
  justify-content: center;
}

.subtitles-cv{
  margin-top: 3%;
}

.example-header-image {
  background-image: url('https://github.com/jmgiannotti.png');
  background-size: cover;
}

.github-logo {
  width: 1.5em; /* Ajusta este tamaño según tus necesidades */
  height: 1.5em; /* Asegura que la altura sea proporcional */
  vertical-align: middle; /* Alinea verticalmente con el texto */
  margin-right: 0.5em; /* Añade un margen derecho para separar el logo del texto */
}

@media (max-width: 768px) {
  /* Adjustments for mobile screens */
  .card{
    max-width: 90% !important;
  }
}
