
<div>
  <app-particles-background></app-particles-background>



  <div class="title-container">
    <h1 class="title">Juan Giannotti</h1>
    <h5 class="subtitle">Analista de Sistemas </h5>
  </div>



  <mat-tab-group fitInkBarToContent>
    <mat-tab label="Sobre mi | Proyectos">
        <app-about [chips]="chipsApp"></app-about>
    </mat-tab>
    <mat-tab label="Curriculum Vitae">
      @defer () {
        <app-curriculum [chips]="chipsApp" ></app-curriculum>
      }
    </mat-tab>
  </mat-tab-group>

</div>
<!-- <router-outlet /> -->
