/* You can add global styles to this file, and also import other style files */
:root{
  color-scheme:only dark;
}
*, .mat-display-large, .mat-typography .mat-display-large, .mat-typography h1 {
  font-family: "Nunito", sans-serif !important;
  font-optical-sizing: auto;
}
h1{
  font-weight: bold !important;
}







